/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 6:14:20 PM
    Author     : Thomas
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 3:23:28 PM
    Author     : Thomas
*/
#banner{
    text-align:center;
}
#b1{
    max-width: 100%;
    margin-right: 0;
    width:100%;
}
#bannerimg {

	width:80%;
        height:10%;
        text-align:center;
        object-fit:fill;
        
	//height:50px;
	//text-align:center;
	//padding-top:10px;
	//padding-bottom:0px;
	//margin-top:0px;
	//margin-bottom:0px;
	//top:10px;
}
#fullard {
        height:300px;
	width:90%;
        text-align:center;
        position:relative;
        object-fit:cover;
        top:1%;
        padding-bottom: 2%;
        margin-right:15%;
        margin-left:18%;
	//height:50px;
	//text-align:center;
	//padding-top:10px;
	//padding-bottom:0px;
	//margin-top:0px;
	//margin-bottom:0px;
	//top:10px;
}
.port{float:left;
     padding-left:15px;}

#navigation1{
        
             position:absolute;
             top:40%;
             left:29%;
             text-align:left;
             height:5%;
}
.tComp{	width:75%;
        text-align:left;
                margin-right:15%;
        margin-left:15%;
}

.iComp{	

        left:5%;
        text-align:left;
        padding-left:20%;
                margin-right:15%;
        margin-left:15%;
}

.vComp{	
 
    left:5%;    
    text-align:center;
            margin-right:15%;
        margin-left:15%;
}

.sComp{	
        
        width:70%;
        text-align:center;
                margin-right:15%;
        margin-left:15%;
}
.ctrls{
padding-left:3%;
position: relative;
right:30px
}
#ftr{
    position:relative;
    text-align:center;
}