/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 3:27:34 PM
    Author     : Thomas
*/
.port { 
    color: red;
    text-decoration: underline;
    cursor: auto;
    background-color:white;
}
#navigation1{
    background-color: red;
}
#b1{
    background-color:darkred;
}
.tComp{
    background-color: crimson;
}
.iComp{
    background-color: crimson;
}
.vComp{
    background-color: crimson;
}
.sComp{
    background-color: crimson;
}
