/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 6:50:05 PM
    Author     : Thomas
*/
#banner{
    text-align:center;
}
#b1{
    max-width: 100%;
    margin-right: 0;
    width:100%;
}
#bannerimg {
   
	width:80%;
        height:10%;
        text-align:center;
        padding-left: 15%;   
        object-fit:fill;
	//height:50px;
	//text-align:center;
	//padding-top:10px;
	//padding-bottom:0px;
	//margin-top:0px;
	//margin-bottom:0px;
	//top:10px;
}
#fullard {
        height:300px;
	width:90%;
        text-align:center;
        padding-right:170px; 
        object-fit:fill;
	//height:50px;
	//text-align:center;
	//padding-top:10px;
	//padding-bottom:0px;
	//margin-top:0px;
	//margin-bottom:0px;
	//top:10px;
}
.tComp{
	width:25%;
	
        float:left;
        margin-left:15%;
}

.iComp{
	width:25%;
	left:10%;
	right:10%;
        text-align:left;
        margin-left:15%;
        
}
.vComp{
	width:70%;
	left:10%;
	right:10%;
	text-align:center;
        margin-left:15%;
}
.sComp{
        width:70%;
        right:15%;
        margin-right:15%;
        margin-left:15%;
	text-align:center;
    

}
#navigation1{
    position:absolute;
    top:7%;
    right:5%;
    width:10%;
    height:200%;
    
}
.ctrls{
padding-left:3%;
position: relative;

right:30px
}
#ftr{
    position:relative;
    text-align:center;
}
.port { 
    text-align:center;
    
}


