/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 7, 2015, 10:54:26 PM
    Author     : Thomas
*/

.port { 
    color: blue;
    text-decoration: underline;
    cursor: auto;
    background-color:aqua
}
#navigation1{
    background-color: blue;
}
.tComp{
    background-color: cornflowerblue;
}
.iComp{
    background-color: cornflowerblue;
}
.vComp{
    background-color: cornflowerblue;
}
.sComp{
    background-color: cornflowerblue;
}