/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 7:06:49 PM
    Author     : Thomas
*/

.port { 
    color: red;
    text-decoration: underline;
    cursor: auto;
    background-color:lightskyblue;
}
#navigation1{
    background-color:salmon;
}
#b1{
    background-color: teal;
}
.tComp{
    background-color:teal;
}
.iComp{
    background-color: teal;
}
.vComp{
    background-color: teal;
}
.sComp{
    background-color: teal;
}
