/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 6:08:34 PM
    Author     : Thomas
*/

.port { 
    color: red;
    text-decoration: underline;
    cursor: auto;
    background-color:burlywood;
}
#navigation1{
    background-color: brown;
}
#b1{
    background-color: darkorange;
}
.tComp{
    background-color: burlywood;
}
.iComp{
    background-color: burlywood;
}
.vComp{
    background-color: burlywood;
}
.sComp{
    background-color: burlywood;
}