/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 6:40:35 PM
    Author     : Thomas
*/


.port { 
    color: red;
    text-decoration: underline;
    cursor: auto;
    background-color:orange;
}
#navigation1{
    background-color: sienna;
}
#b1{
    background-color: gray;
}
.tComp{
    background-color: coral;
}
.iComp{
    background-color: coral;
}
.vComp{
    background-color: coral;
}
.sComp{
    background-color: coral;
}