/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2015, 1:51:38 AM
    Author     : Thomas
*/
//.comp {
//	width:80%;
//	left:10%;
//	right:10%;
//	text-align:left;
//} 
#banner{
    text-align:center;
}
#b1{
    max-width: 100%;
    margin-right: 0;
    width:100%;
}
#bannerimg {
   
	width:70%;
        height:10%;
        text-align:center;
        padding-left:15%;
        right:10%;
        object-fit:fill;
	//height:50px;
	//text-align:center;
	//padding-top:10px;
	//padding-bottom:0px;
	//margin-top:0px;
	//margin-bottom:0px;
	//top:10px;
}
#fullard {
        height:300px;
	width:100%;
        text-align:center;
        left:10%;
        right:10%;
        object-fit:fill;
	//height:50px;
	//text-align:center;
	//padding-top:10px;
	//padding-bottom:0px;
	//margin-top:0px;
	//margin-bottom:0px;
	//top:10px;
}
.tComp{
	width:65%;
        margin-left:15%;
        padding-left:5%;
        margin-right:15%;
	
}

.iComp{
	width:70%;
        margin-left:15%;
        margin-right:15%;
	text-align:center;
}
.vComp{
	width:70%;
        margin-right:15%;
	margin-left:15%;
	text-align:center;
}
.sComp{
        width:70%;
        margin-right:15%;
        margin-left:15%;
	text-align:center;
    
}
#navigation1{
    position:absolute;
    left:6%;
    width:10%;
    top:8%;
    height:206%;
}
.ctrls{
padding-left:3%;
position: relative;
right:30px
}
#etc{
    position:relative;
    text-align:center;
}
