/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 3:23:28 PM
    Author     : Thomas
*/
#banner{
    width:10%;
        text-align:left;
}
#b1{
    max-width: 100%;
    margin-right: 0;
    width:100%;
}
#bannerimg {
   
	width:100%;
        height:10%;
        text-align:center;
        object-fit:fill;
	//height:50px;
	//text-align:center;
	//padding-top:10px;
	//padding-bottom:0px;
	//margin-top:0px;
	//margin-bottom:0px;
	//top:10px;
}
#fullard {
        height:300px;
	width:102%;
        text-align:center;
        position:relative;
        right:2%;
        object-fit:fill;
	//height:50px;
	//text-align:center;
	//padding-top:10px;
	//padding-bottom:0px;
	//margin-top:0px;
	//margin-bottom:0px;
	//top:10px;
}
.port{float:left;
     padding-left:15px;}

#navigation1{position:relative;
             left:35%;
             text-align:center;
             width:45%;
}
.tComp{	width:75%;
        text-align:center;
        margin-right:15%;
        margin-left:15%;
}

.iComp{	
    
        margin-right:15%;
        margin-left:15%;

        left:5%;
       
}

.vComp{	
    margin-left:15%;
  margin-right:15%;
    
    float:right;
}

.sComp{	
        
        width:100%;
        text-align:center;
}
.ctrls{
padding-left:3%;
position: relative;
right:30px
}
#ftr{
    position:relative;
    text-align:center;
}