#b1{
    max-width: 100%;
    margin-right: 0;
    width:100%;
}
#banner{
    text-align:center;
}
#bannerimg {
   
	width:90%;
        height:10%;
        text-align:center;
           
        object-fit:fill;
	//height:50px;
	//text-align:center;
	//padding-top:10px;
	//padding-bottom:0px;
	//margin-top:0px;
	//margin-bottom:0px;
	//top:10px;
}
#fullard {
        height:300px;
	width:90%;
        text-align:center;
        padding-right:170px; 
        object-fit:fill;
         margin-right:15%;
        margin-left:15%;
	//height:50px;
	//text-align:center;
	//padding-top:10px;
	//padding-bottom:0px;
	//margin-top:0px;
	//margin-bottom:0px;
	//top:10px;
}
.tComp{
	width:70%;
	float:left;
         margin-right:15%;
        margin-left:15%;
        
}

.iComp{
	width:80%;
         margin-right:15%;
        margin-left:15%;
	text-align:right;
}
.vComp{
	width:80%;
	text-align:center;
         margin-right:15%;
        margin-left:15%;
}
.sComp{
        width:100%;
	left:10%;
	right:10%;
	text-align:center;
}
#navigation1{
    position:absolute;
    top:8%;
    right:10%;
    width:10%;
    height:32%;
    
}
.ctrls{
padding-left:3%;
position: relative;
right:30px
}
#ftr{
    position:relative;
    text-align:left;
    height:1%;
}
