/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 22, 2015, 5:50:03 PM
    Author     : Thomas
*/

.editor_toolbar{
    
    -fx-background-color: linear-gradient(to top,#663399,#A52A2A);
    -fx-spacing: 25px;
    -fx-margin-top:100px;
}
.file_toolbar{
    -fx-background-color: sienna;
}
.site_toolbar{
    -fx-background-color: goldenrod;
}
.confirm{
    -fx-text-align: right;
    -fx-alignment: bottom-right;
    -fx-padding-left: 75%;
}
.distort{
    -fx-alignment: center;
}
.small{
    -fx-alignment: center;
    -fx-background-color: lightsalmon;
}
.husk{
    -fx-background-color: lightsalmon;
    -fx-alignment: CENTER;
}
.medium{
    
}
.PEW{
    -fx-background-color: #663399;
}
